.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

# big data / archives
*.zip
coco/
coco.zip
VisDrone2019-DET-*/

# outputs
runs/
outputs/
checkpoints/
*.pth
*.pt
*.ckpt

# --- big data / zips ---
*.zip
coco/
VisDrone2019-DET-*/
runs/
outputs/
checkpoints/
*.pth
*.pt
*.ckpt
.DS_Store
